<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5e_with_gripper">

  <xacro:arg name="initial_positions_file"
           default="$(find ur_yt_sim)/config/initial_positions.yaml"/>

  <xacro:property name="initial_positions_file"
                value="$(find ur_yt_sim)/config/initial_positions.yaml"/>

  <!-- Choose robot variant (default: ur5e) -->
  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="ur_type" default="ur5e"/>
  <xacro:arg name="sim_gazebo" default="false"/>

  <xacro:arg name="sim_ignition" default="false"/>
  <xacro:arg name="sim" default="false"/>
  <xacro:arg name="use_fake_hardware" default="true"/>
  <xacro:arg name="headless_mode" default="true"/>


  <!-- Pull parameters from ur_description -->
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>

  <!-- Minimal settings for visualization -->
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>

  <xacro:arg name="use_fake_hardware" default="true"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>

  <xacro:arg name="headless_mode" default="true"/>
  <xacro:arg name="initial_positions_file" default="$(find ur_description)/config/$(arg ur_type)/initial_positions.yaml"/>

  <!-- Tool communication off for pure RViz model -->
  <xacro:arg name="use_tool_communication" default="false"/>
  <xacro:arg name="tool_voltage" default="0"/>
  <xacro:arg name="tool_parity" default="0"/>
  <xacro:arg name="tool_baud_rate" default="0"/>
  <xacro:arg name="tool_stop_bits" default="0"/>
  <xacro:arg name="tool_rx_idle_chars" default="0.0"/>
  <xacro:arg name="tool_tx_idle_chars" default="0.0"/>
  <xacro:arg name="tool_device_name" default=""/>
  <xacro:arg name="tool_tcp_port" default="0"/>

  <!-- Hardware/network args (kept with harmless defaults) -->
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:arg name="script_filename" default=""/>
  <xacro:arg name="output_recipe_filename" default=""/>
  <xacro:arg name="input_recipe_filename" default=""/>
  <xacro:arg name="reverse_ip" default="0.0.0.0"/>
  <xacro:arg name="script_command_port" default="0"/>
  <xacro:arg name="reverse_port" default="0"/>
  <xacro:arg name="script_sender_port" default="0"/>
  <xacro:arg name="trajectory_port" default="0"/>

  <!-- The UR macro (wraps ur_description) -->
  <xacro:include filename="$(find ur_yt_sim)/urdf/ur5_macro.xacro"/>

  <!-- Robotiq gripper from official package -->
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
  
  <!-- Spawn a fixed world link so RViz has a stable frame -->
  <link name="world"/>

  <!-- UR5e arm -->
  <xacro:ur_robot
      name="$(arg name)"
      tf_prefix="$(arg tf_prefix)"
      parent="world"
      joint_limits_parameters_file="$(arg joint_limit_params)"
      kinematics_parameters_file="$(arg kinematics_params)"
      physical_parameters_file="$(arg physical_params)"
      visual_parameters_file="$(arg visual_params)"
      safety_limits="$(arg safety_limits)"
      safety_pos_margin="$(arg safety_pos_margin)"
      safety_k_position="$(arg safety_k_position)"
      use_fake_hardware="$(arg use_fake_hardware)"
      fake_sensor_commands="$(arg fake_sensor_commands)"
      sim_gazebo="$(arg sim_gazebo)"
      sim_ignition="false"
      headless_mode="$(arg headless_mode)"
      initial_positions="${xacro.load_yaml(initial_positions_file)}"
      use_tool_communication="$(arg use_tool_communication)"
      tool_voltage="$(arg tool_voltage)"
      tool_parity="$(arg tool_parity)"
      tool_baud_rate="$(arg tool_baud_rate)"
      tool_stop_bits="$(arg tool_stop_bits)"
      tool_rx_idle_chars="$(arg tool_rx_idle_chars)"
      tool_tx_idle_chars="$(arg tool_tx_idle_chars)"
      tool_device_name="$(arg tool_device_name)"
      tool_tcp_port="$(arg tool_tcp_port)"
      robot_ip="$(arg robot_ip)"
      script_filename="$(arg script_filename)"
      output_recipe_filename="$(arg output_recipe_filename)"
      input_recipe_filename="$(arg input_recipe_filename)"
      reverse_ip="$(arg reverse_ip)"
      script_command_port="$(arg script_command_port)"
      reverse_port="$(arg reverse_port)"
      script_sender_port="$(arg script_sender_port)"
      trajectory_port="$(arg trajectory_port)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <!-- Robotiq gripper attached to tool0 -->
  <xacro:robotiq_gripper name="robotiq_2f85" parent="tool0" prefix="rq_">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_gripper>

</robot>
